* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --bg_color: #FFF7F2;
    --text_font: 'Montserrat', sans-serif;
    --text_color: #3D2B1F;
    --button_color: #F8BCA3;
    --light_pink: #FFECEA;
    --card_bg: #FFCDC8;
    --pink: #FFE4E1;
    --white: #FFFEFE;
}
body {
    background-color: var(--bg_color);
    font-family: var(--text_font);
    display: grid;
    gap: 3em;
}
.navbar img:first-child{
    place-self: center;
    width: 15em;
}
.navbar{
  overflow: hidden;
  background-color: var(--pink);
  position: fixed;
  display: grid;
  height: 100%;
  width: 20em;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;
  padding-top: 5em;
  gap: 6em;

}
.links{
    display: grid;
    gap: 3em;
}
a { 
    color: inherit; 
    cursor: pointer;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    width: 21em;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 3em;
} 
.navbar img{
    width: 15em;
    place-self: center;
}
a:hover{
    background-color: var(--bg_color);
    font-weight: bold;
    color: var(--card_bg);
}