*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #FFBEBE;
    overflow: hidden;
    display: grid;
    justify-content: center;
    height: 90vh;
    align-items: center;
}
img{
    width: 70em;
}