* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

:root {
  --bg_color: #FFF7F2;
  --button_color: #F8BCA3;
  --card_bg: #FFCDC8;
  --light_pink: #FFECEA;
  --pink: #FFE4E1;
  --text_color: #3D2B1F;
  --text_font: 'Montserrat', sans-serif;
  --white: #FFFEFE;
  --downvote: #7F1832;
  --upvote: #2E5D4B;
}

body {
  background-color: var(--bg_color);
  display: grid;
  font-family: var(--text_font);
  gap: 3em;
  padding-bottom: 6em;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 2.6em 6em 2.6em 4em;
  background-color: var(--light_pink);
  border-bottom: 0.5px solid var(--card_bg);
}

nav {
  position: relative;
  margin: 27px auto 0;
  width: 46em;
  height: 4em;
  background-color: var(--bg_color);
  border-radius: 0.5em;
  display: flex;
  justify-content: center;
  gap: 2em;
  align-items: center;

}

nav a {
  display: inline-block;
  position: relative;
  z-index: 1;
  text-align: center;
  font-size: 1.3em;
  color: var(--text_color);
  cursor: pointer;
}

nav .animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  transition: all .5s ease 0s;
  border-radius: 0.5em;
}

a:nth-child(1) {
  width: 100px;
}

a:nth-child(2) {
  width: 110px;
}

a:nth-child(3) {
  width: 100px;
}

a:nth-child(4) {
  width: 120px;
}

a:nth-child(5) {
  width: 165px;
}

nav .start-home,
a:nth-child(1):hover~.animation {
  width: 110px;
  left: 0;
  background-color: var(--card_bg);
}

nav .start-about,
a:nth-child(2):hover~.animation {
  width: 110px;
  left: 140px;
  background-color: var(--card_bg);
}

nav .start-blog,
a:nth-child(3):hover~.animation {
  width: 110px;
  left: 270px;
  background-color: var(--card_bg);
}

nav .start-portefolio,
a:nth-child(4):hover~.animation {
  width: 110px;
  left: 420px;
  background-color: var(--card_bg);
}

nav .start-contact,
a:nth-child(5):hover~.animation {
  width: 170px;
  left: 570px;
  background-color: var(--card_bg);
}
.red {
  border-color: red ;
  padding: 1%;
  border-style: solid;
  border-width: medium;
}
.green {
  border-color: green ;
  padding: 1%;
  border-style: solid;
  border-width: medium;
}
.col {
  border-color: red ;
  padding: 1%;
  border-style: solid;
  border-width: medium;
}
.col-lg{
    height: 200px;
    overflow: hidden;
    margin: 10px 0;
    position: relative;
    flex-basis: 30%;
}
.col-lg img{
  display:block;
    position: absolute;
    left: -1000%;
    right: -1000%;
    top: -1000%;
    bottom: -1000%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
}
.imgrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}