* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

:root {
  --bg_color: #FFF7F2;
  --button_color: #F8BCA3;
  --card_bg: #FFCDC8;
  --light_pink: #FFECEA;
  --pink: #FFE4E1;
  --text_color: #3D2B1F;
  --text_font: 'Montserrat', sans-serif;
  --white: #FFFEFE;
  --downvote: #DC868D;
  --upvote: #91B491;
}

body {
  background-color: var(--bg_color);
  font-family: var(--text_font);
  display: grid;
  gap: 5em;
  overflow-x: hidden;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 2.6em 6em 2.6em 4em;
  background-color: var(--light_pink);
  border-bottom: 0.5px solid var(--card_bg);
}

nav {
  position: relative;
  margin: 27px auto 0;
  width: 46em;
  height: 4em;
  background-color: var(--bg_color);
  border-radius: 0.5em;
  display: flex;
  justify-content: center;
  gap: 2em;
  align-items: center;

}

nav a {
  display: inline-block;
  position: relative;
  z-index: 1;
  text-align: center;
  font-size: 1.3em;
  color: var(--text_color);
  cursor: pointer;
}

nav .animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  transition: all .5s ease 0s;
  border-radius: 0.5em;
}

a:nth-child(1) {
  width: 100px;
}

a:nth-child(2) {
  width: 110px;
}

a:nth-child(3) {
  width: 100px;
}

a:nth-child(4) {
  width: 120px;
}

a:nth-child(5) {
  width: 165px;
}

nav .start-home,
a:nth-child(1):hover~.animation {
  width: 110px;
  left: 0;
  background-color: var(--card_bg);
}

nav .start-about,
a:nth-child(2):hover~.animation {
  width: 110px;
  left: 140px;
  background-color: var(--card_bg);
}

nav .start-blog,
a:nth-child(3):hover~.animation {
  width: 110px;
  left: 270px;
  background-color: var(--card_bg);
}

nav .start-portefolio,
a:nth-child(4):hover~.animation {
  width: 110px;
  left: 420px;
  background-color: var(--card_bg);
}

nav .start-contact,
a:nth-child(5):hover~.animation {
  width: 170px;
  left: 570px;
  background-color: var(--card_bg);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vote {
  gap: 1em;
  justify-content: center;
  align-items: center;

}

.options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
}

.options button {
  width: 10em;
  height: 3em;
  border-radius: 0.5em;
  background-color: transparent;
  color: var(--text_color);
  font-weight: 300;
  cursor: pointer;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

.options button:nth-child(1) {
  border: 0.2em solid #5e755e;
}

.options button:nth-child(2) {
  border: 0.2em solid #945459;
}

.options button:nth-child(1):hover {
  background-color: var(--upvote);
  transform: translateY(-0.125em);
}

.options button:nth-child(2):hover {
  background-color: var(--downvote);
  transform: translateY(-0.125em);
}

.red {
  background-color: var(--downvote);
  border-radius: 1em;
  width: 20.6em;
  height: 20.6em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.green {
  background-color: var(--upvote);
  border-radius: 1em;
  width: 20.6em;
  height: 20.6em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  border-radius: 1em;
  width: 20em;
  height: 20em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.button-container{
  display: flex;
  justify-content: center;
}

.button-container button{
  width: 21em;
  height: 3em;
  border-radius: 0.5em;
  background-color: transparent;
  color: var(--text_color);
  font-weight: 300;
  cursor: pointer;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  border: 0.2em solid #fdbdb8;
}
.button-container button:hover{
  background-color: #FFCDC8;
  transform: translateY(-0.125em);
}

.history{
  padding: 4em;
  gap: 2em;
  align-items: center;
  justify-content: center;
}
.images-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}